src/console/AgentCommunication/web/wsdl/agent.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-b02-rc1. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-b02-rc1. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.sb.trustedcs.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.sb.trustedcs.com/" name="AgentServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.sb.trustedcs.com/" schemaLocation="http://192.168.1.171:8080/agentws/services/agent?xsd=1" />
</xsd:schema>
</types>
<message name="status">
<part name="parameters" element="tns:status" />
</message>
<message name="statusResponse">
<part name="parameters" element="tns:statusResponse" />
</message>
<message name="info">
<part name="parameters" element="tns:info" />
</message>
<message name="infoResponse">
<part name="parameters" element="tns:infoResponse" />
</message>
<message name="scan">
<part name="parameters" element="tns:scan" />
</message>
<message name="scanResponse">
<part name="parameters" element="tns:scanResponse" />
</message>
<message name="apply">
<part name="parameters" element="tns:apply" />
</message>
<message name="applyResponse">
<part name="parameters" element="tns:applyResponse" />
</message>
<message name="undo">
<part name="parameters" element="tns:undo" />
</message>
<message name="undoResponse">
<part name="parameters" element="tns:undoResponse" />
</message>
<message name="baseline">
<part name="parameters" element="tns:baseline" />
</message>
<message name="baselineResponse">
<part name="parameters" element="tns:baselineResponse" />
</message>
<message name="updateAgent">
<part name="parameters" element="tns:updateAgent" />
</message>
<message name="updateAgentResponse">
<part name="parameters" element="tns:updateAgentResponse" />
</message>
<portType name="AgentServiceImpl">
<operation name="status">
<input wsam:Action="http://services.sb.trustedcs.com/AgentServiceImpl/statusRequest" message="tns:status" />
<output wsam:Action="http://services.sb.trustedcs.com/AgentServiceImpl/statusResponse" message="tns:statusResponse" />
</operation>
<operation name="info">
<input wsam:Action="http://services.sb.trustedcs.com/AgentServiceImpl/infoRequest" message="tns:info" />
<output wsam:Action="http://services.sb.trustedcs.com/AgentServiceImpl/infoResponse" message="tns:infoResponse" />
</operation>
<operation name="scan">
<input wsam:Action="http://services.sb.trustedcs.com/AgentServiceImpl/scanRequest" message="tns:scan" />
<output wsam:Action="http://services.sb.trustedcs.com/AgentServiceImpl/scanResponse" message="tns:scanResponse" />
</operation>
<operation name="apply">
<input wsam:Action="http://services.sb.trustedcs.com/AgentServiceImpl/applyRequest" message="tns:apply" />
<output wsam:Action="http://services.sb.trustedcs.com/AgentServiceImpl/applyResponse" message="tns:applyResponse" />
</operation>
<operation name="undo">
<input wsam:Action="http://services.sb.trustedcs.com/AgentServiceImpl/undoRequest" message="tns:undo" />
<output wsam:Action="http://services.sb.trustedcs.com/AgentServiceImpl/undoResponse" message="tns:undoResponse" />
</operation>
<operation name="baseline">
<input wsam:Action="http://services.sb.trustedcs.com/AgentServiceImpl/baselineRequest" message="tns:baseline" />
<output wsam:Action="http://services.sb.trustedcs.com/AgentServiceImpl/baselineResponse" message="tns:baselineResponse" />
</operation>
<operation name="updateAgent">
<input wsam:Action="http://services.sb.trustedcs.com/AgentServiceImpl/updateAgentRequest" message="tns:updateAgent" />
<output wsam:Action="http://services.sb.trustedcs.com/AgentServiceImpl/updateAgentResponse" message="tns:updateAgentResponse" />
</operation>
</portType>
<binding name="AgentServiceImplPortBinding" type="tns:AgentServiceImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="status">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="info">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="scan">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="apply">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="undo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="baseline">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateAgent">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="AgentServiceImplService">
<port name="AgentServiceImplPort" binding="tns:AgentServiceImplPortBinding">
<soap:address location="http://192.168.1.171:8080/agentws/services/agent" />
</port>
</service>
</definitions>