src/console/AgentCommunication/web/wsdl/console.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-b02-rc1. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-b02-rc1. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.sb.trustedcs.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.sb.trustedcs.com/" name="ConsoleServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.sb.trustedcs.com/" schemaLocation="http://192.168.1.171:8080/agentws/services/console?xsd=1" />
</xsd:schema>
</types>
<message name="notify">
<part name="parameters" element="tns:notify" />
</message>
<message name="notifyResponse">
<part name="parameters" element="tns:notifyResponse" />
</message>
<message name="reportStatus">
<part name="parameters" element="tns:reportStatus" />
</message>
<message name="reportStatusResponse">
<part name="parameters" element="tns:reportStatusResponse" />
</message>
<message name="reportInfo">
<part name="parameters" element="tns:reportInfo" />
</message>
<message name="reportInfoResponse">
<part name="parameters" element="tns:reportInfoResponse" />
</message>
<portType name="ConsoleServiceImpl">
<operation name="notify">
<input wsam:Action="http://services.sb.trustedcs.com/ConsoleServiceImpl/notifyRequest" message="tns:notify" />
<output wsam:Action="http://services.sb.trustedcs.com/ConsoleServiceImpl/notifyResponse" message="tns:notifyResponse" />
</operation>
<operation name="reportStatus">
<input wsam:Action="http://services.sb.trustedcs.com/ConsoleServiceImpl/reportStatusRequest" message="tns:reportStatus" />
<output wsam:Action="http://services.sb.trustedcs.com/ConsoleServiceImpl/reportStatusResponse" message="tns:reportStatusResponse" />
</operation>
<operation name="reportInfo">
<input wsam:Action="http://services.sb.trustedcs.com/ConsoleServiceImpl/reportInfoRequest" message="tns:reportInfo" />
<output wsam:Action="http://services.sb.trustedcs.com/ConsoleServiceImpl/reportInfoResponse" message="tns:reportInfoResponse" />
</operation>
</portType>
<binding name="ConsoleServiceImplPortBinding" type="tns:ConsoleServiceImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="notify">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="reportStatus">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="reportInfo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ConsoleServiceImplService">
<port name="ConsoleServiceImplPort" binding="tns:ConsoleServiceImplPortBinding">
<soap:address location="http://192.168.1.171:8080/agentws/services/console" />
</port>
</service>
</definitions>