src/console/AgentCommunication/web/wsdl/reports.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-b02-rc1. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-b02-rc1. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.sb.trustedcs.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.sb.trustedcs.com/" name="ReportsServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.sb.trustedcs.com/" schemaLocation="http://192.168.1.171:8080/agentws/services/reports?xsd=1" />
</xsd:schema>
</types>
<message name="getBaseline">
<part name="parameters" element="tns:getBaseline" />
</message>
<message name="getBaselineResponse">
<part name="parameters" element="tns:getBaselineResponse" />
</message>
<message name="listAuditLogs">
<part name="parameters" element="tns:listAuditLogs" />
</message>
<message name="listAuditLogsResponse">
<part name="parameters" element="tns:listAuditLogsResponse" />
</message>
<message name="getAuditLog">
<part name="parameters" element="tns:getAuditLog" />
</message>
<message name="getAuditLogResponse">
<part name="parameters" element="tns:getAuditLogResponse" />
</message>
<message name="getBaselineList">
<part name="parameters" element="tns:getBaselineList" />
</message>
<message name="getBaselineListResponse">
<part name="parameters" element="tns:getBaselineListResponse" />
</message>
<message name="getAssessmentList">
<part name="parameters" element="tns:getAssessmentList" />
</message>
<message name="getAssessmentListResponse">
<part name="parameters" element="tns:getAssessmentListResponse" />
</message>
<message name="getAssessment">
<part name="parameters" element="tns:getAssessment" />
</message>
<message name="getAssessmentResponse">
<part name="parameters" element="tns:getAssessmentResponse" />
</message>
<portType name="ReportsServiceImpl">
<operation name="getBaseline">
<input wsam:Action="http://services.sb.trustedcs.com/ReportsServiceImpl/getBaselineRequest" message="tns:getBaseline" />
<output wsam:Action="http://services.sb.trustedcs.com/ReportsServiceImpl/getBaselineResponse" message="tns:getBaselineResponse" />
</operation>
<operation name="listAuditLogs">
<input wsam:Action="http://services.sb.trustedcs.com/ReportsServiceImpl/listAuditLogsRequest" message="tns:listAuditLogs" />
<output wsam:Action="http://services.sb.trustedcs.com/ReportsServiceImpl/listAuditLogsResponse" message="tns:listAuditLogsResponse" />
</operation>
<operation name="getAuditLog">
<input wsam:Action="http://services.sb.trustedcs.com/ReportsServiceImpl/getAuditLogRequest" message="tns:getAuditLog" />
<output wsam:Action="http://services.sb.trustedcs.com/ReportsServiceImpl/getAuditLogResponse" message="tns:getAuditLogResponse" />
</operation>
<operation name="getBaselineList">
<input wsam:Action="http://services.sb.trustedcs.com/ReportsServiceImpl/getBaselineListRequest" message="tns:getBaselineList" />
<output wsam:Action="http://services.sb.trustedcs.com/ReportsServiceImpl/getBaselineListResponse" message="tns:getBaselineListResponse" />
</operation>
<operation name="getAssessmentList">
<input wsam:Action="http://services.sb.trustedcs.com/ReportsServiceImpl/getAssessmentListRequest" message="tns:getAssessmentList" />
<output wsam:Action="http://services.sb.trustedcs.com/ReportsServiceImpl/getAssessmentListResponse" message="tns:getAssessmentListResponse" />
</operation>
<operation name="getAssessment">
<input wsam:Action="http://services.sb.trustedcs.com/ReportsServiceImpl/getAssessmentRequest" message="tns:getAssessment" />
<output wsam:Action="http://services.sb.trustedcs.com/ReportsServiceImpl/getAssessmentResponse" message="tns:getAssessmentResponse" />
</operation>
</portType>
<binding name="ReportsServiceImplPortBinding" type="tns:ReportsServiceImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getBaseline">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listAuditLogs">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAuditLog">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getBaselineList">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAssessmentList">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAssessment">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ReportsServiceImplService">
<port name="ReportsServiceImplPort" binding="tns:ReportsServiceImplPortBinding">
<soap:address location="http://192.168.1.171:8080/agentws/services/reports" />
</port>
</service>
</definitions>