src/console/AgentCommunication/web/wsdl/scheduler.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-b02-rc1. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-b02-rc1. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.sb.trustedcs.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.sb.trustedcs.com/" name="SchedulerServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.sb.trustedcs.com/" schemaLocation="http://192.168.1.171:8080/agentws/services/scheduler?xsd=1" />
</xsd:schema>
</types>
<message name="addTask">
<part name="parameters" element="tns:addTask" />
</message>
<message name="addTaskResponse">
<part name="parameters" element="tns:addTaskResponse" />
</message>
<message name="removeTask">
<part name="parameters" element="tns:removeTask" />
</message>
<message name="removeTaskResponse">
<part name="parameters" element="tns:removeTaskResponse" />
</message>
<message name="updateTask">
<part name="parameters" element="tns:updateTask" />
</message>
<message name="updateTaskResponse">
<part name="parameters" element="tns:updateTaskResponse" />
</message>
<portType name="SchedulerServiceImpl">
<operation name="addTask">
<input wsam:Action="http://services.sb.trustedcs.com/SchedulerServiceImpl/addTaskRequest" message="tns:addTask" />
<output wsam:Action="http://services.sb.trustedcs.com/SchedulerServiceImpl/addTaskResponse" message="tns:addTaskResponse" />
</operation>
<operation name="removeTask">
<input wsam:Action="http://services.sb.trustedcs.com/SchedulerServiceImpl/removeTaskRequest" message="tns:removeTask" />
<output wsam:Action="http://services.sb.trustedcs.com/SchedulerServiceImpl/removeTaskResponse" message="tns:removeTaskResponse" />
</operation>
<operation name="updateTask">
<input wsam:Action="http://services.sb.trustedcs.com/SchedulerServiceImpl/updateTaskRequest" message="tns:updateTask" />
<output wsam:Action="http://services.sb.trustedcs.com/SchedulerServiceImpl/updateTaskResponse" message="tns:updateTaskResponse" />
</operation>
</portType>
<binding name="SchedulerServiceImplPortBinding" type="tns:SchedulerServiceImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="addTask">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="removeTask">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateTask">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="SchedulerServiceImplService">
<port name="SchedulerServiceImplPort" binding="tns:SchedulerServiceImplPortBinding">
<soap:address location="http://192.168.1.171:8080/agentws/services/scheduler" />
</port>
</service>
</definitions>